name: Job Alert Bot

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull image
        run: docker pull minekirmaci/job-alert-bot:latest

      - name: Run container
        run: |
          docker run --rm \
            -e EMAIL_ADDRESS=${{ secrets.EMAIL_ADDRESS }} \
            -e EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }} \
            minekirmaci/job-alert-bot:latest